<form class="box" action="/station/{{station._id}}/addreport" method="POST">
  <label>Enter Report Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field pt-4">
        <label class="label">Code</label> 
        <input class="input is-medium" type="text" placeholder="00" name="code">
      </div>
      <div class="field pt-4">
        <label class="label">Temperature</label> 
        <input class="input is-medium" type="text" placeholder="00.0°C" name="temperature">
      </div>
      <div class="field pt-4">
        <label class="label">Wind speed</label> 
        <input class="input is-medium" type="text" placeholder="00.00km/h" name="windspeed">
      </div>
      <div class="field pt-6 has-addons">
        <label class="label">Wind Direction</label> 
        <div class="control">
          <span class="select has-background-info">
            <select>
              <option>Degrees</option>
              <option>Letters</option>              
            </select>
          </span>
        </div>
        <div class="control">
          <input class="input is-medium" type="text" placeholder="000deg / NSEW" name="winddirection">
        </div>  
      </div>
        
      <div class="field pt-4">      
        <label class="label">Pressure</label> 
        <input class="input is-medium" type="text" placeholder="000hPa" name="pressure">
      </div>
    </div>
  </div>
  <button class="button has-background-info has-text-white">
    Submit Report
  </button>
</form>