{{#each stations}}
<div class="box box-link-hover-shadow">
  <h2 class="title">
    {{title}}
  </h2>
  <a href="/station/id/update" class="button is-light">
    {{> icons/open}}
  </a>
  <a href="/dashboard/deletestation/{{_id}}" class="button is-light">
    {{> icons/delete-station}}
  </a>
</div>
{{/each}}