<div class="columns is-multiline is-vcentered">
  <div class="column box is-2">
    <section class="card has-background-black has-text-white">
      <div class="title">
        Lisbon
      </div>
      <div>
        
      </div>
      <p>
        Lat: 38.7167
        lng: -9.1333
      </p>
    </section>
  </div>
</div>