<div class="columns is-multiline">
  <div class="column is-auto">
    <section class="card has-background-black has-text-white">
      <header class="card-header">
        <p class="card-header-title is-size-5 has-text-white">
          Lisbon
        </p>
        <div class="icon is-pulled-right">
          {{> icons/rain}}
        </div>
      </header>
      <article class="card-content is-small">
        <div class="content is-small">
          <p>
            Lat: 38.71
          </p>
          <p>
            lng: -9.13
          </p>
        </div>
      </article>
    </section>
    </div>
    
    <div class="column is-auto">
    <section class="card has-background-black has-text-white">
      <header class="card-header">
        <p class="card-header-title is-size-5 has-text-white">
          Weather
        </p>
        <div class="icon is-pulled-right">
          {{> icons/rain}}
        </div>
      </header>
      <article class="card-content">
        <div class="content is-small">
        <p>
          Clear
        </p>
        test
        <p>
        </p>  
        </div>
      </article>
    </section>
    </div>
      
    <div class="column is-auto">
    <section class="card has-background-black has-text-white">
      <header class="card-header">
        <p class="card-header-title is-size-5 has-text-white is-pulled-left">
          Temp
        </p>
        <div class="icon is-pulled-right">
          {{> icons/rain}}
        </div>
      </header>
      <article class="card-content">
        <p>Max: {{maxTemp.temperature}}°С</p>
        <p>Min: {{minTemp.temperature}}°С</p>
      </article>
    </section>
    </div>
      
    <div class="column is-auto">
    <section class="card has-background-black has-text-white">
      <header class="card-header">
        <p class="card-header-title is-size-5 has-text-white is-pulled-left">
          Wind
        </p>
        <div class="icon is-pulled-right">
          {{> icons/rain}}
        </div>
      </header>
      <article class="card-content">
        <p>Speed: 8.75</p>
        <p>Degrees: 350</p>
      </article>
    </section>
    </div>
      
    <div class="column is-auto">
    <section class="card has-background-black has-text-white">
      <header class="card-header">
        <p class="card-header-title is-size-5 has-text-white is-pulled-left">
          Pressure
        </p>
        <div class="icon is-pulled-right">
          {{> icons/rain}}
        </div>
      </header>
      <article class="card-content is-vcentered">
        <p>
          Lat: 38.71
        </p>
        <p>
          lng: -9.13
        </p>
      </article>
    </section>
    </div>
      
</div>
