<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    {{> brand}}
  </div>
  <div id="navbarBasic" class="navbar-menu">
    <div class="navbar-end">
      <div class="nav"
    </div>
  </div>
</nav>