{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    Weather App
  </h3>
  <div class="section">
    Monitor latest weather stations readings
  </div>
</section>