{{> welcome-menu active="home"}}

<div class="columns">
  <div class="column">
    <div class="title">
      Sign up or Log in.
    </div>
  </div>
</div>
<div class="columns">
  <div class="column is-half">
    <figure class="icon">
      {{> icons/sunny}}
    </figure>
  </div>
  <div class="column is-half">
    {{> signup}}
  </div>
</div>
<section class="section">
  <p>
    Sign up or Log in.
  </p>
</section>