{{> welcome-menu active="home"}}

<div class="columns">
  <div class="column">
  <p>
    Sign up or Log in.
  </p>
  </div>
</div>
<div class="columns">
  <div class="column is-half">
    <figure class=""
  </div>
</div>
<section class="section">
  <p>
    Sign up or Log in.
  </p>
</section>