{{> welcome-menu active="home"}}

<div class="columns">
  <div class="column is-fullwidth">
    <span class="icon-text">
    <span class="title">Welcome to WeatherTop Stations</span>
    <span class="icon is-large">{{> icons/sunny}}</span>
    </span>
  </div>
</div>
<div class="columns">
  <div class="column is-fullwidth">
    <div class="subtitle">
      Sign up or Log in.
    </div>
  </div>
</div>
