{{> welcome-menu active="home"}}

<div class="columns">
  <div class="column is-fullwidth">
    <div class="title">
      Sign up or Log in.
      {{> icons/sunny}}
    </div>
  </div>
</div>
<div class="columns">
  <div class="column is-fullwidth">
    <span class="icon-text">
    <span class="title">Sign up or Log in.</span>
    <span class="icon"></span>
    </span>
    <figure class="icon">
      {{> icons/sunny}}
    </figure>
  </div>
  <div>
    signup-view
  </div>
</div>
<section class="section">
  <p>
    Sign up or Log in.
  </p>
</section>