{{> welcome-menu active="signup"}}

<section class="section">
  <h1 class="title">
    Sign Up
  </h1>
  <div class="subtitle">
    Register below to get even more features offered by the company.
  </div>
  {{> signup}}
</section>