{{> welcome-menu active="signup"}}

<div class="columns is-multiline box is-centered is-shadowless">
  <div class="column is-6">
    <h2 class="title">
      Welcome to WeatherTop
    </h2>
  </div>
  
</div>